    <!--  Quboo Ads  -->
    <div class="item" style="background-color: black;">
      <div class="overlay"></div>
        <div class="container" style="position: relative;">
            <div class="row">
                <div class="col-md-12 col-md-offset-2 text-center">
                    <div class="fh5co-owl-text-wrap">
                        <div class="fh5co-owl-text-top" id="bottom-align">
                            <div id="shape1" class="to-animate">
                                <h1 class="fh5co-lead to-animate"><img width="500" src="images/quboo_logo_white_transparent.png" alt="logo"></h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-md-offset-2 text-center">
                    <div class="fh5co-owl-text-wrap">
                        <div class="fh5co-owl-text-top" id="bottom-align">
                            <div id="shape1" class="to-animate">
                                <h1 class="fh5co-center to-animate">hier könnte Ihre Werbung stehen</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--  Apero 1  -->
    <div class="item" style="background-image:url(images/Apero_01.jpg)">
      <div class="overlay"></div>
        <div class="container" style="position: relative;">
            <div class="row">
                <div class="col-md-12 col-md-offset-2 text-center">
                    <div class="fh5co-owl-text-wrap">
                        <div class="fh5co-owl-text-top">
                            <div id="shape1" class="to-animate">
                                <h1 class="fh5co-center to-animate"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Apero 2  -->
    <div class="item" style="background-image:url(images/Apero_01.jpg)">
      <div class="overlay"></div>
        <div class="container" style="position: relative;">
            <div class="row">
                <div class="col-md-12 col-md-offset-2 text-center">
                    <div class="fh5co-owl-text-wrap">
                        <div class="fh5co-owl-text-top">
                            <div id="shape1" class="to-animate">
                                <h1 class="fh5co-center to-animate"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
