/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}


html,
body {
  height: 100%;
  background-color: #000;
}


body{
margin:0;
padding:0;
color: #fff;
text-align: center;
background: url(../images/bg.jpg) right bottom no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
position: relative;
}

@font-face {
font-family:Ostrich-Sans-Black;
src: url(../tools/fonts/Ostrich-Sans-Black.eot);  /* EOT for IE */
src: local("Ostrich-Sans-Black"),
url(../tools/fonts/Ostrich-Sans-Black.ttf) format("truetype"); /* non-IE */
}


.black{
background-color: rgba(0, 0, 0, 0.5);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#wrapper{
	position: relative;
	width: 100%;
	margin: auto;
}

#header{
	width: 100%;
	padding: 100px 0 100px 0;
	margin: auto;
}

h1{
	font-family: 'Ostrich-Sans-Black';
	font-size: 103px;
    text-shadow: 0 0 80px #000;
}

h2{
	font-family: 'Ostrich-Sans-Black';
	font-size: 30px;
	letter-spacing: 4px;
	padding-bottom: 30px;
}

h2 strong.sep-one{
	width: 60px;
	height: 1px;
	background: #fff;
	position: absolute;
	margin-left: -80px;
	margin-top: 15px;
}

h2 strong.sep-two{
	width: 60px;
	height: 1px;
	background: #fff;
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
}


#logo{
	width: 100%;
    position: absolute;
    padding: 68%;
	padding: 5px;
	margin: 0px;
    opacity: 1;
}

#middle{
	width: 100%;
	background: #000000;
	padding: 15px 0;
	margin: 150px 0;
    opacity: 0.4;
}

#middle p{
	font-family: 'Ostrich-Sans-Black';
	font-size: 24px;
	color: #ffffff;
	line-height: 34px;
	padding: 0 18%;
}

#middle p span{
	color:#e63b4d;
}

#footer{
	width: 100%;
    position: absolute;
}

ul.social
{
width: 62px;
margin: 0px auto 0;
height: 62px;
}

ul.social li{
float: left;
background: url(../images/social.png) left top no-repeat;
position: relative;
height: 62px;
margin-right: 28px;
}

ul.social li a{
display: block;
width: 62px;
height: 62px;
}


ul.social li.facebook{
height: 62px;
background-position: 0 0;
width: 62px;
}

ul.social li.facebook:hover{
background-position: 0 -62px;
}


ul.social li.twitter{
height: 62px;
background-position: -90px 0;
width: 62px;
}

ul.social li.twitter:hover{
background-position: -90px -62px;
}


ul.social li.youtube{
margin-right: 0;
height: 62px;
background-position: -180px 0;
width: 62px;
}

ul.social li.youtube:hover{
background-position: -180px -62px;
}


@media screen and (max-width: 568px){

    body{
    margin:0;
    padding:0;
    color: #fff;
    text-align: center;
    background: url(../images/bg.jpg) right bottom repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
    position: relative;
    }

	#header{
		width: 100%;
		padding: 30px 0 30px 0;
		margin: auto;
	}

    #footer{
        width: 100%;
        position: absolute;
        top: 470px;
    }

	h1{
		font-size: 53px;
        text-shadow: 0 0 80px #000;
	}

	h2{

		font-size: 15px;
		letter-spacing: 2px;
	}

	h2 strong.sep-one{
		width: 30px;
		margin-left: -40px;
		margin-top: 7px;
	}

	h2 strong.sep-two{
		width: 30px;
		margin-left: 10px;
		margin-top: 7px;
	}

    #logo{
        width: 100%;
        position: absolute;
        top: 100px;
        padding: 68%;
        padding: 5px;
        margin: 0px;
        opacity: 1;
    }

    #middle{
        width: 100%;
        background: #000000;
        padding: 15px 0;
        margin: 160px 0;
        opacity: 0.4;
    }

    #middle p{
        font-family: 'Ostrich-Sans-Black';
        font-size: 12px;
        color: #ffffff;
        line-height: 20px;
        padding: 0 16%;
    }

	#middle p span{
		color:#e63b4d;
	}


}

